.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  body {
    background-color: #393E46;
  }

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ECCA3;
  }

  img {
    width: 200px;
    height: 200px;
    display: inline-block;
  }

  .threemurloc{
    display: flex;
    justify-content: space-between;
    padding: 7% 3% 5%;
  }


  button{
      border-radius: 200%;
      background-color: #393E46;
      
  }

  .refreshbutton{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  